* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    padding: 21px 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

.heading-1 {
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    padding-top: 70px;
    padding-bottom: 15px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px 65px;
    margin-top: 50px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.img-1 {
    width: 100%;
}

.heading-3 {
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    margin-top: 8px;
    padding-bottom: 10px;
}

.container-3 {
    width: 100%;
    background-color: rgb(89, 86, 86);
    margin-top: 51px;
}

.heading-4 {
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    padding-top: 32px;
}

.all {
    padding-top: 15px;
}

.heading-5 {
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    padding-top: 32px;
    padding-bottom: 3px;
}

button {
    background-color: yellow;
    color: black;
    border: none;
    height: 45px;
    width: 140px;
    margin-top: 13px;
}

button>a {
    text-decoration: none;
    font-size: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(89, 86, 86);
    margin-top: 51px;
    margin-bottom: 0px;
    height: 65px;
}

footer h4 {
    margin-left: 22px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

.i-tag {
    margin-right: 22px;
}

.i-tag>i {
    margin-left: 7px;
}
